* {
    color: #000000;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

header {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 3px 1px black;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul a:hover {
    cursor: pointer;
    color: black;
}

nav {
    min-width: 40%;
}

h1 {
    color: rgb(88, 56, 56);
}