.Home {
    display: flex;
    justify-content: center;
}

@media( max-width: 500px ) {
    .Home {
        font-size: 10px;
    }
    header {
        font-size: 10px;
    }

    header img {
        width: 60px;
        height: 60px;
    }

    footer {
        font-size: 10px;
    }
}