body {
    min-height: 900px;
}

#contentRecover {
    height: 700px;
}

#formRecover {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formRecover input {
    width: 500px;
    height: 35px;
    border-radius: 10px;
}

#formRecover button {
    width: 150px;
    height: 45px;
    border-radius: 10px;
    margin-top: 40px;
}

.inputsRecover {
    gap: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}