#form {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.content input {
    width: 350px;
    height: 30px;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}

.email {
    text-align: end;
}

#submit {
    width: 200px;
    height: 45px;
    border-radius: 10px;
}

#submit:hover {
    background-color: blueviolet;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px solid black;
    cursor: pointer;
}